{
  "presets": [
    "react-app",
    // NOTE: explicitly defined to work with storybook
    // transforming JSX syntax into regular JavaScript
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          // https://github.com/istanbuljs/babel-plugin-istanbul
          "istanbul",
          {
            "useInlineSourceMaps": false,
            // include files for instrumentation
            "include": ["src/**/*.{js,jsx,ts,tsx}"],
            // exclude files from instrumentation
            "exclude": ["src/**/*.d.ts", "src/{services,modules,types}/**/*", "src/**/*.{spec,test}.{js,jsx,ts,tsx}"]
          }
        ]
      ]
    }
  }
}
